<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [ ]:
!pip install sqlalchemy==1.3.9

In [2]:
import os 
os.chdir(r"C:\Users\Shin\Downloads\DS capstone Week2")
os.getcwd()

'C:\\Users\\Shin\\Downloads\\DS capstone Week2'

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [4]:
# %load_ext sql

In [45]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

print('Complete')

Complete

In [ ]:
# !pip install -q pandas==1.1.5

In [ ]:
# %sql sqlite:///my_data1.db

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

print('Complete')

Complete

**Note:This below code is added to remove blank rows from table**

In [9]:
statement = '''
create table SPACEXTABLE 
as select * 
from SPACEXTBL 
where Date is not null'''

cur.execute(statement)

print('Complete')

Complete

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [20]:
statement2 = '''
SELECT DISTINCT Launch_Site
FROM SPACEXTABLE
'''

cur.execute(statement2).fetchall()

# pd.read_sql_query(statement2, con)

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [23]:
statement3 = '''
SELECT *
FROM SPACEXTABLE
WHERE Launch_Site LIKE 'CCA%'
LIMIT 5'''

pd.read_sql_query(statement3, con)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [53]:
statement_fetchall = '''
SELECT * 
FROM SPACEXTABLE
'''

pd.read_sql_query(statement_fetchall, con).head(2)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)

In [50]:
statement_task3 = '''
SELECT SUM(PAYLOAD_MASS__KG_)
FROM SPACEXTABLE
'''

pd.read_sql_query(statement_task3, con)

   SUM(PAYLOAD_MASS__KG_)
0                  619967

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [39]:
statement_task4 = '''
SELECT AVG(PAYLOAD_MASS__KG_)
FROM SPACEXTABLE
WHERE Booster_Version = 'F9 v1.1'
'''

pd.read_sql_query(statement_task4, con)

   AVG(PAYLOAD_MASS__KG_)
0                  2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [43]:
statement_task5 = '''
SELECT MIN(Date)
FROM SPACEXTABLE
WHERE Mission_Outcome = 'Success'
'''

pd.read_sql_query(statement_task5, con)

    MIN(Date)
0  2010-06-04

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [58]:
cur.execute(statement_fetchall)

[column[0] for column in cur.description]

['Date',
 'Time (UTC)',
 'Booster_Version',
 'Launch_Site',
 'Payload',
 'PAYLOAD_MASS__KG_',
 'Orbit',
 'Customer',
 'Mission_Outcome',
 'Landing_Outcome']

### Task 7




##### List the total number of successful and failure mission outcomes

In [62]:
statement_task7 = '''
select Mission_Outcome, count(*)
from SPACEXTABLE
GROUP BY Mission_Outcome'''

pd.read_sql_query(statement_task7, con)

                    Mission_Outcome  count(*)
0               Failure (in flight)         1
1                           Success        98
2                          Success          1
3  Success (payload status unclear)         1

In [68]:
statement_test = '''
select distinct(Mission_Outcome)
from SPACEXTABLE 
where Mission_Outcome like '%uccess%'
'''

cur.execute(statement_test).fetchall()
# pd.read_sql_query(statement_test, con)

[('Success',), ('Success (payload status unclear)',), ('Success ',)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [70]:
statement_task8 = '''
select *
from SPACEXTABLE
where PAYLOAD_MASS__KG_ = 
    (select max(PAYLOAD_MASS__KG_)
    from SPACEXTABLE)
'''

pd.read_sql_query(statement_task8, con)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2019-11-11,14:56:00,F9 B5 B1048.4,CCAFS SLC-40,"Starlink 1 v1.0, SpaceX CRS-19",15600,LEO,SpaceX,Success,Success
1,2020-01-07,2:33:00,F9 B5 B1049.4,CCAFS SLC-40,"Starlink 2 v1.0, Crew Dragon in-flight abort t...",15600,LEO,SpaceX,Success,Success
2,2020-01-29,14:07:00,F9 B5 B1051.3,CCAFS SLC-40,"Starlink 3 v1.0, Starlink 4 v1.0",15600,LEO,SpaceX,Success,Success
3,2020-02-17,15:05:00,F9 B5 B1056.4,CCAFS SLC-40,"Starlink 4 v1.0, SpaceX CRS-20",15600,LEO,SpaceX,Success,Failure
4,2020-03-18,12:16:00,F9 B5 B1048.5,KSC LC-39A,"Starlink 5 v1.0, Starlink 6 v1.0",15600,LEO,SpaceX,Success,Failure
5,2020-04-22,19:30:00,F9 B5 B1051.4,KSC LC-39A,"Starlink 6 v1.0, Crew Dragon Demo-2",15600,LEO,SpaceX,Success,Success
6,2020-06-04,1:25:00,F9 B5 B1049.5,CCAFS SLC-40,"Starlink 7 v1.0, Starlink 8 v1.0",15600,LEO,"SpaceX, Planet Labs",Success,Success
7,2020-09-03,12:46:14,F9 B5 B1060.2,KSC LC-39A,"Starlink 11 v1.0, Starlink 12 v1.0",15600,LEO,SpaceX,Success,Success
8,2020-10-06,11:29:34,F9 B5 B1058.3,KSC LC-39A,"Starlink 12 v1.0, Starlink 13 v1.0",15600,LEO,SpaceX,Success,Success
9,2020-10-18,12:25:57,F9 B5 B1051.6,KSC LC-39A,"Starlink 13 v1.0, Starlink 14 v1.0",15600,LEO,SpaceX,Success,Success
10,2020-10-24,15:31:34,F9 B5 B1060.3,CCAFS SLC-40,"Starlink 14 v1.0, GPS III-04",15600,LEO,SpaceX,Success,Success
11,2020-11-25,2:13:00,F9 B5 B1049.7,CCAFS SLC-40,"Starlink 15 v1.0, SpaceX CRS-21",15600,LEO,SpaceX,Success,Success

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [82]:
statement_task9 = '''
    select substr(Date, 6, 2) Landing_Outcome, Booster_Version, Launch_Site
    from SPACEXTABLE
    '''
# cur.execute(statement_task9).fetchall()
pd.read_sql_query(statement_task9, con)

    Landing_Outcome Booster_Version   Launch_Site
0                06  F9 v1.0  B0003   CCAFS LC-40
1                12  F9 v1.0  B0004   CCAFS LC-40
2                05  F9 v1.0  B0005   CCAFS LC-40
3                10  F9 v1.0  B0006   CCAFS LC-40
4                03  F9 v1.0  B0007   CCAFS LC-40
..              ...             ...           ...
96               11    F9 B5B1062.1  CCAFS SLC-40
97               11   F9 B5B1061.1     KSC LC-39A
98               11    F9 B5B1063.1   VAFB SLC-4E
99               11  F9 B5 B1049.7   CCAFS SLC-40
100              12  F9 B5 B1058.4     KSC LC-39A

[101 rows x 3 columns]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [87]:
statement_task10 = '''
    select Mission_Outcome, count(*) as Count
    from SPACEXTABLE
    where Date between '2010-06-04' and '2017-03-20'
    group by Mission_Outcome
    '''

pd.read_sql_query(statement_task10, con)

       Mission_Outcome  Count
0  Failure (in flight)      1
1              Success     30

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>