<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

# **Space X  Falcon 9 First Stage Landing Prediction**

## Web scraping Falcon 9 and Falcon Heavy Launches Records from Wikipedia

Estimated time needed: **40** minutes

In this lab, you will be performing web scraping to collect Falcon 9 historical launch records from a Wikipedia page titled `List of Falcon 9 and Falcon Heavy launches`

https://en.wikipedia.org/wiki/List_of_Falcon_9_and_Falcon_Heavy_launches

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_1_L2/images/Falcon9_rocket_family.svg)

Falcon 9 first stage will land successfully

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/landing_1.gif)

Several examples of an unsuccessful landing are shown here:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/crash.gif)

More specifically, the launch records are stored in a HTML table shown below:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_1_L2/images/falcon9-launches-wiki.png)

  ## Objectives
Web scrap Falcon 9 launch records with `BeautifulSoup`: 
- Extract a Falcon 9 launch records HTML table from Wikipedia
- Parse the table and convert it into a Pandas data frame

First let's import required packages for this lab

In [ ]:
!pip3 install beautifulsoup4
!pip3 install requests

In [4]:
import sys

import requests
from bs4 import BeautifulSoup
import re
import unicodedata
import pandas as pd
print('Complete')

Complete

and we will provide some helper functions for you to process web scraped HTML table

In [5]:
def date_time(table_cells):
    """
    This function returns the data and time from the HTML  table cell
    Input: the  element of a table data cell extracts extra row
    """
    return [data_time.strip() for data_time in list(table_cells.strings)][0:2]

def booster_version(table_cells):
    """
    This function returns the booster version from the HTML  table cell 
    Input: the  element of a table data cell extracts extra row
    """
    out=''.join([booster_version for i,booster_version in enumerate( table_cells.strings) if i%2==0][0:-1])
    return out

def landing_status(table_cells):
    """
    This function returns the landing status from the HTML table cell 
    Input: the  element of a table data cell extracts extra row
    """
    out=[i for i in table_cells.strings][0]
    return out


def get_mass(table_cells):
    mass=unicodedata.normalize("NFKD", table_cells.text).strip()
    if mass:
        mass.find("kg")
        new_mass=mass[0:mass.find("kg")+2]
    else:
        new_mass=0
    return new_mass


def extract_column_from_header(row):
    """
    This function returns the landing status from the HTML table cell 
    Input: the  element of a table data cell extracts extra row
    """
    if (row.br):
        row.br.extract()
    if row.a:
        row.a.extract()
    if row.sup:
        row.sup.extract()
        
    colunm_name = ' '.join(row.contents)
    
    # Filter the digit and empty names
    if not(colunm_name.strip().isdigit()):
        colunm_name = colunm_name.strip()
        return colunm_name

To keep the lab tasks consistent, you will be asked to scrape the data from a snapshot of the  `List of Falcon 9 and Falcon Heavy launches` Wikipage updated on
`9th June 2021`

In [17]:
static_url = "https://en.wikipedia.org/w/index.php?title=List_of_Falcon_9_and_Falcon_Heavy_launches&oldid=1027686922"

Next, request the HTML page from the above URL and get a `response` object

### TASK 1: Request the Falcon9 Launch Wiki page from its URL

First, let's perform an HTTP GET method to request the Falcon9 Launch HTML page, as an HTTP response.

In [7]:
# use requests.get() method with the provided static_url
# assign the response to a object
response = requests.get(static_url)
response.status_code

200

Create a `BeautifulSoup` object from the HTML `response`

In [21]:
# Use BeautifulSoup() to create a BeautifulSoup object from a response text content
soup = BeautifulSoup(response.text, 'html.parser')
wikitables = soup.find_all('table', {'class': 'wikitable plainrowheaders collapsible'})

In [22]:
len(wikitables)

9

Print the page title to verify if the `BeautifulSoup` object was created properly

In [25]:
# Use soup.title attribute
print(soup.title)

print(soup.find('title').text)

<title>List of Falcon 9 and Falcon Heavy launches - Wikipedia</title>
List of Falcon 9 and Falcon Heavy launches - Wikipedia

### TASK 2: Extract all column/variable names from the HTML table header

Next, we want to collect all relevant column names from the HTML table header

Let's try to find all tables on the wiki page first. If you need to refresh your memory about `BeautifulSoup`, please check the external reference link towards the end of this lab

In [26]:
# Use the find_all function in the BeautifulSoup object, with element type `table`
# Assign the result to a list called `html_tables`
html_tables = soup.find_all('table')

Starting from the third table is our target table contains the actual launch records.

In [1]:
# Let's print the third table and check its content
first_launch_table = html_tables[2]
# print(first_launch_table)

NameError: name 'html_tables' is not defined

You should able to see the columns names embedded in the table header elements `<th>` as follows:

```
<tr>
<th scope="col">Flight No.
</th>
<th scope="col">Date and<br/>time (<a href="/wiki/Coordinated_Universal_Time" title="Coordinated Universal Time">UTC</a>)
</th>
<th scope="col"><a href="/wiki/List_of_Falcon_9_first-stage_boosters" title="List of Falcon 9 first-stage boosters">Version,<br/>Booster</a> <sup class="reference" id="cite_ref-booster_11-0"><a href="#cite_note-booster-11">[b]</a></sup>
</th>
<th scope="col">Launch site
</th>
<th scope="col">Payload<sup class="reference" id="cite_ref-Dragon_12-0"><a href="#cite_note-Dragon-12">[c]</a></sup>
</th>
<th scope="col">Payload mass
</th>
<th scope="col">Orbit
</th>
<th scope="col">Customer
</th>
<th scope="col">Launch<br/>outcome
</th>
<th scope="col"><a href="/wiki/Falcon_9_first-stage_landing_tests" title="Falcon 9 first-stage landing tests">Booster<br/>landing</a>
</th></tr>
```

Next, we just need to iterate through the `<th>` elements and apply the provided `extract_column_from_header()` to extract column name one by one

In [44]:
column_names = []

for columns in wikitables[0].find('tr').find_all('th'): 
    column_names.append(columns.text.replace("\n", ''))
#     print(columns.text)
    
column_names

# Apply find_all() function with `th` element on first_launch_table
# Iterate each th element and apply the provided extract_column_from_header() to get a column name
# Append the Non-empty column name (`if name is not None and len(name) > 0`) into a list called column_names

['Flight No.',
 'Date andtime (UTC)',
 'Version,Booster [b]',
 'Launch site',
 'Payload[c]',
 'Payload mass',
 'Orbit',
 'Customer',
 'Launchoutcome',
 'Boosterlanding']

In [45]:
print('Complete\nComolete')

Complete
Comolete

Check the extracted column names

In [47]:
print(column_names)

['Flight No.', 'Date andtime (UTC)', 'Version,Booster [b]', 'Launch site', 'Payload[c]', 'Payload mass', 'Orbit', 'Customer', 'Launchoutcome', 'Boosterlanding']

## TASK 3: Create a data frame by parsing the launch HTML tables

We will create an empty dictionary with keys from the extracted column names in the previous task. Later, this dictionary will be converted into a Pandas dataframe

In [198]:
launch_dict= dict.fromkeys(column_names)

# Remove an irrelvant column
del launch_dict['Date andtime (UTC)']
del launch_dict['Version,Booster [b]']
del launch_dict['Payload[c]']

# Let's initial the launch_dict with each value to be an empty list
launch_dict['Flight No.'] = []
launch_dict['Launch site'] = []
launch_dict['Payload'] = []
launch_dict['Payload mass'] = []
launch_dict['Orbit'] = []
launch_dict['Customer'] = []
launch_dict['Launch outcome'] = []
# Added some new columns
launch_dict['Version Booster']=[]
launch_dict['Booster landing']=[]
launch_dict['Date']=[]
launch_dict['Time']=[]

In [199]:
launch_dict

{'Flight No.': [],
 'Launch site': [],
 'Payload mass': [],
 'Orbit': [],
 'Customer': [],
 'Launchoutcome': None,
 'Boosterlanding': None,
 'Payload': [],
 'Launch outcome': [],
 'Version Booster': [],
 'Booster landing': [],
 'Date': [],
 'Time': []}

Next, we just need to fill up the `launch_dict` with launch records extracted from table rows.

Usually, HTML tables in Wiki pages are likely to contain unexpected annotations and other types of noises, such as reference links `B0004.1[8]`, missing values `N/A [e]`, inconsistent formatting, etc.

To simplify the parsing process, we have provided an incomplete code snippet below to help you to fill up the `launch_dict`. Please complete the following code snippet with TODOs or you can choose to write your own logic to parse all launch tables:

In [108]:
datetime_pre = soup.find('table', {'class': 'wikitable plainrowheaders collapsible'}).find_all('tr')[1].th.text.strip()#.text.strip()#th.string.strip().isdigit()#.isdigit()#replace('\n', '')
# datetime = date_time(datetime_pre)
# datetime[0]
# datetime_pre.text.strip()
datetime_pre

'1'

In [ ]:
from tqdm import tqdm

In [201]:
extracted_row = 0

#Extract each table 
for table_number,table in tqdm(enumerate(soup.find_all('table',"wikitable plainrowheaders collapsible"))):
   # get table row 
    for rows in table.find_all("tr"):
        #check to see if first table heading is as number corresponding to launch a number 
        if rows.th:
            if rows.th.string:
                flight_number=rows.th.string.strip()
                flag=flight_number.isdigit()
        else:
            flag=False
        #get table element 
        row=rows.find_all('td')
        #if it is number save cells in a dictonary 
        if flag:
            # Flight Number value
            # TODO: Append the flight_number into launch_dict with key `Flight No.`
#             print(flight_number)
            launch_dict['Flight No.'].append(int(flight_number))

            # Date value
            # TODO: Append the date into launch_dict with key `Date`
            datatimelist=date_time(row[0])
            date = datatimelist[0].strip()
#             print(date)
            launch_dict['Date'].append(date)

            # Time value
            # TODO: Append the time into launch_dict with key `Time`
            time = datatimelist[1]
#             print(time)
            launch_dict['Time'].append(time)

            # Booster version
            # TODO: Append the bv into launch_dict with key `Version Booster`
            bv=booster_version(row[1])
            if not(bv):
                bv=row[1].a.string
#             print(bv)
            launch_dict['Version Booster'].append(bv)

            # Launch Site
            # TODO: Append the bv into launch_dict with key `Launch Site`
            launch_site = row[2].a.string
            #print(launch_site)
            launch_dict['Launch site'].append(launch_site)

            # Payload
            # TODO: Append the payload into launch_dict with key `Payload`
            payload = row[3].a.string
            launch_dict['Payload'].append(payload)
            #print(payload)

            # Payload Mass
            # TODO: Append the payload_mass into launch_dict with key `Payload mass`
            payload_mass = get_mass(row[4])
            #print(payload)
            launch_dict['Payload mass'].append(payload_mass)


            # Orbit
            # TODO: Append the orbit into launch_dict with key `Orbit`
            orbit = row[5].a.string
            #print(orbit)
            launch_dict['Orbit'].append(orbit)

            # Customer
            # TODO: Append the customer into launch_dict with key `Customer`
            customer = row[6].string
            #print(customer)
            launch_dict['Customer'].append(customer)

            # Launch outcome
            # TODO: Append the launch_outcome into launch_dict with key `Launch outcome`
            launch_outcome = list(row[7].strings)[0]
            #print(launch_outcome)
            launch_dict['Launch outcome'].append(launch_outcome)

            # Booster landing
            # TODO: Append the launch_outcome into launch_dict with key `Booster landing`
            booster_landing = landing_status(row[8])
            #print(booster_landing)
            launch_dict['Booster landing'].append(booster_landing)

9it [00:00, 237.45it/s]

After you have fill in the parsed launch record values into `launch_dict`, you can create a dataframe from it.

In [202]:
launch_dict['Launch outcome']

['Success\n',
 'Success',
 'Success',
 'Success\n',
 'Success\n',
 'Success',
 'Success',
 'Success',
 'Success\n',
 'Success',
 'Success',
 'Success',
 'Success',
 'Success',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Failure',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success',
 'Success',
 'Success',
 'Success',
 'Success',
 'Success',
 'Success',
 'Success',
 'Success',
 'Success',
 'Success',
 'Success',
 'Success',
 'Success',
 'Success',
 'Success',
 'Success',
 'Success',
 'Success',
 'Success\n',
 'Success',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n',
 'Success\n']

In [203]:
pd.DataFrame(launch_dict)

ValueError: All arrays must be of the same length

In [205]:
df=pd.DataFrame({ key:pd.Series(value) for key, value in launch_dict.items() })
df.head(15)

,Flight No.,Launch site,Payload mass,Orbit,Customer,Launchoutcome,Boosterlanding,Payload,Launch outcome,Version Booster,Booster landing,Date,Time
0,1,CCAFS,0,LEO,None,NaN,NaN,Dragon Spacecraft Qualification Unit,Success\n,F9 v1.0B0003.1,Failure,"4 June 2010,",18:45
1,1,CCAFS,0,LEO,None,NaN,NaN,Dragon Spacecraft Qualification Unit,Success,F9 v1.0B0003.1,Failure,"4 June 2010,",18:45
2,2,CCAFS,0,LEO,None,NaN,NaN,Dragon,Success,F9 v1.0B0004.1,Not attempted\n,"8 December 2010,",15:43
3,3,CCAFS,525 kg,LEO,None,NaN,NaN,Dragon,Success\n,F9 v1.0B0005.1,No attempt,"22 May 2012,",07:44
4,4,CCAFS,"4,700 kg",LEO,None,NaN,NaN,SpaceX CRS-1,Success\n,F9 v1.0B0006.1,Not attempted\n,"8 October 2012,",00:35
5,5,CCAFS,"4,877 kg",LEO,None,NaN,NaN,SpaceX CRS-2,Success,F9 v1.0B0007.1,Uncontrolled,"1 March 2013,",15:10
6,6,VAFB,500 kg,Polar orbit,None,NaN,NaN,CASSIOPE,Success,F9 v1.1B1003,Not attempted,"29 September 2013,",16:00
7,7,CCAFS,"3,170 kg",GTO,None,NaN,NaN,SES-8,Success,F9 v1.1,Not attempted,"3 December 2013,",22:41
8,8,CCAFS,"3,325 kg",GTO,None,NaN,NaN,Thaicom 6,Success\n,F9 v1.1,Controlled,"6 January 2014,",22:06
9,9,Cape Canaveral,"2,296 kg",LEO,None,NaN,NaN,SpaceX CRS-3,Success,F9 v1.1,Controlled,"18 April 2014,",19:25
10,10,Cape Canaveral,"1,316 kg",LEO,None,NaN,NaN,Orbcomm-OG2,Success,F9 v1.1,Not attempted,"14 July 2014,",15:15
11,11,Cape Canaveral,"4,535 kg",GTO,None,NaN,NaN,AsiaSat 8,Success,F9 v1.1,Not attempted\n,"5 August 2014,",08:00
12,12,Cape Canaveral,"4,428 kg",GTO,None,NaN,NaN,AsiaSat 6,Success,F9 v1.1,Uncontrolled,"7 September 2014,",05:00
13,13,Cape Canaveral,"2,216 kg",LEO,None,NaN,NaN,SpaceX CRS-4,Success,F9 v1.1,Failure,"21 September 2014,",05:52
14,14,Cape Canaveral,"2,395 kg",LEO,None,NaN,NaN,SpaceX CRS-5,Success\n,F9 v1.1,Controlled,"10 January 2015,",09:47

In [206]:
import os
os.getcwd()

'C:\\Users\\Shin\\Downloads'

In [207]:
df.to_csv('spacex_web_scraped.csv', index=False)

We can now export it to a <b>CSV</b> for the next section, but to make the answers consistent and in case you have difficulties finishing this lab. 

Following labs will be using a provided dataset to make each lab independent.

<code>df.to_csv('spacex_web_scraped.csv', index=False)</code>

## Authors

<a href="https://www.linkedin.com/in/yan-luo-96288783/">Yan Luo</a>

<a href="https://www.linkedin.com/in/nayefaboutayoun/">Nayef Abou Tayoun</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description      |
| ----------------- | ------- | ---------- | ----------------------- |
| 2021-06-09        | 1.0     | Yan Luo    | Tasks updates           |
| 2020-11-10        | 1.0     | Nayef      | Created the initial version |

Copyright © 2021 IBM Corporation. All rights reserved.